# Copy this file to .env and fill in your values
# Never commit .env to version control

ORS_API_KEY=eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6ImYxZTI0M2I2MzQ1ODRjZjA5MGY2NjYxY2QyMGY5MThlIiwiaCI6Im11cm11cjY0In0=